# Pandas basic cooking recipe

`Pandas` is basically do the same as a spreadsheet program like Microsoft Excel. I like Pandas because it is powerful but also a bit confusing to use methods when I need them or need to mix some of methods. So it is worth to learn basic methods to save time and energy.

Let's get started! :)

## 0. Import pandas

To use pandas, we need to import.

In [1]:
import pandas as pd

After import, we can access methods and attributes in pandas by starting with `pd.`. For example, `pd.read_csv`, `pd.drop()` and so on.

## 1. Read data

If you have any csv files, you can read them using `pd.read_csv` method.

In [6]:
df_1 = pd.read_csv("../data/311-service-requests.csv")

/Users/dalpengholic/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

There are some arguments to use to read a csv. For instance.. `sep`, `encoding`, `index_col`

In [7]:
df_2 = pd.read_csv("../data/bikes.csv", sep=";", encoding='latin1', index_col='Date')

I will keep updating this section.

## 2. Brief checking of a dataframe

When you read a csv, you might want to see how it looks like. Here, some good methods to be used. When you make a dataframe instance, you can use methods and attributes using `dataframe name.` like `df_1.head()`, `df_1["column name"]`

In [10]:
# Use comment and uncomment to execute each line
df_1.head() # This shows top rows. Default rows are 5.
df_1.head(n=3) # This shows top 3 rows
df_1.tail() # This shows bottom 5 rows
df_1.tail(n=4) # This shows bottom 4 rows

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
111066,26428987,10/04/2013 12:00:45 AM,10/04/2013 01:25:01 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,10016,344 EAST 28 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.740295,-73.976952,"(40.740295354643706, -73.97695165980414)"
111067,26426115,10/04/2013 12:00:28 AM,10/04/2013 04:17:32 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Talking,Club/Bar/Restaurant,11226,1233 FLATBUSH AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.640182,-73.955306,"(40.64018174662485, -73.95530566958138)"
111068,26428033,10/04/2013 12:00:10 AM,10/04/2013 01:20:52 AM,NYPD,New York City Police Department,Blocked Driveway,Partial Access,Street/Sidewalk,11236,1259 EAST 94 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.640024,-73.900717,"(40.640024057399216, -73.90071711703163)"

Many columns are omitted. If you want to see them, use `pd.set_option('display.max_columns', None)`

In [12]:
pd.set_option('display.max_columns', None)
df_1.head(n=3)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Street Name,Cross Street 1,Cross Street 2,Intersection Street 1,Intersection Street 2,Address Type,City,Landmark,Facility Type,Status,Due Date,Resolution Action Updated Date,Community Board,Borough,X Coordinate (State Plane),Y Coordinate (State Plane),Park Facility Name,Park Borough,School Name,School Number,School Region,School Code,School Phone Number,School Address,School City,School State,School Zip,School Not Found,School or Citywide Complaint,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,26589651,10/31/2013 02:08:41 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,11432,90-03 169 STREET,169 STREET,90 AVENUE,91 AVENUE,NaN,NaN,ADDRESS,JAMAICA,NaN,Precinct,Assigned,10/31/2013 10:08:41 AM,10/31/2013 02:35:17 AM,12 QUEENS,QUEENS,1042027.0,197389.0,Unspecified,QUEENS,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.708275,-73.791604,"(40.70827532593202, -73.79160395779721)"
1,26593698,10/31/2013 02:01:04 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,11378,58 AVENUE,58 AVENUE,58 PLACE,59 STREET,NaN,NaN,BLOCKFACE,MASPETH,NaN,Precinct,Open,10/31/2013 10:01:04 AM,NaN,05 QUEENS,QUEENS,1009349.0,201984.0,Unspecified,QUEENS,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.721041,-73.909453,"(40.721040535628305, -73.90945306791765)"
2,26594139,10/31/2013 02:00:24 AM,10/31/2013 02:40:32 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10032,4060 BROADWAY,BROADWAY,WEST 171 STREET,WEST 172 STREET,NaN,NaN,ADDRESS,NEW YORK,NaN,Precinct,Closed,10/31/2013 10:00:24 AM,10/31/2013 02:39:42 AM,12 MANHATTAN,MANHATTAN,1001088.0,246531.0,Unspecified,MANHATTAN,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.843330,-73.939144,"(40.84332975466513, -73.93914371913482)"

If you want to check how a dataframe is big, use `df.shape`. It returns a set with data of (#rows, #columns).

In [18]:
# Use comment and uncomment to execute each line
df_1.shape # This shows the size of df_1
df_2.shape # This shows the size of df_2

(111069, 52)

If you want to se  general statistical information, use `df.describe()`. It return a dataframe of count, mean, std and quantile values from numerical columns.

In [19]:
print(df_1.shape)
df_1.describe()

(111069, 52)

,Unique Key,X Coordinate (State Plane),Y Coordinate (State Plane),School or Citywide Complaint,Latitude,Longitude
count,1.110690e+05,9.814300e+04,98143.000000,0.0,98143.000000,98143.000000
mean,2.651565e+07,1.004544e+06,205553.153287,NaN,40.730821,-73.926738
std,4.694558e+04,2.206087e+04,31334.677543,NaN,0.086006,0.079563
min,2.642588e+07,9.134950e+05,121152.000000,NaN,40.498949,-74.254437
25%,2.647433e+07,9.920490e+05,182506.000000,NaN,40.667529,-73.971882
50%,2.651472e+07,1.003205e+06,203251.000000,NaN,40.724521,-73.931580
75%,2.655684e+07,1.016823e+06,233366.000000,NaN,40.807183,-73.882430
max,2.659613e+07,1.067024e+06,271485.000000,NaN,40.911792,-73.701278

If you use info() method, you can easily see how many rows are in the dataframe, the type of a each row, columns name, how many non-null data in a column.

In [21]:
# Use comment and uncomment to execute each line
df_1.info()
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 310 entries, 01/01/2012 to 05/11/2012
Data columns (total 9 columns):
Berri 1                                310 non-null int64
BrÃ©beuf (donnÃ©es non disponibles)      0 non-null float64
CÃ´te-Sainte-Catherine                  310 non-null int64
Maisonneuve 1                          310 non-null int64
Maisonneuve 2                          310 non-null int64
du Parc                                310 non-null int64
Pierre-Dupuy                           310 non-null int64
Rachel1                                310 non-null int64
St-Urbain (donnÃ©es non disponibles)    0 non-null float64
dtypes: float64(2), int64(7)
memory usage: 24.2+ KB

There is time when you need to check the names of the columns or the indices in a dataframe. Use `df.columns` and `df.index`

In [25]:
# Use comment and uncomment to execute each line
df_1.columns
df_2.index

Index(['01/01/2012', '02/01/2012', '03/01/2012', '04/01/2012', '05/01/2012',
       '06/01/2012', '07/01/2012', '08/01/2012', '09/01/2012', '10/01/2012',
       ...
       '27/10/2012', '28/10/2012', '29/10/2012', '30/10/2012', '31/10/2012',
       '01/11/2012', '02/11/2012', '03/11/2012', '04/11/2012', '05/11/2012'],
      dtype='object', name='Date', length=310)

It happens frequently you want to access a column or several columns to just see or modify them. There are 2 ways to do it. One is `df.column name`. The other is `df['column name']`. The first one is not able to be used when a column name has a empty space.

In [42]:
# Use comment and uncomment to execute each line
# I used head() here to just to see some of rows.
print(df_1.columns[0:3])
df_1['Unique Key'].head()
df_1['Closed Date'].head()
df_1[['Closed Date','Unique Key']].head()
print(df_2.columns)
df_2.Rachel1.head()

Index(['Unique Key', 'Created Date', 'Closed Date'], dtype='object')

              Closed Date  Unique Key
0                     NaN    26589651
1                     NaN    26593698
2  10/31/2013 02:40:32 AM    26594139
3  10/31/2013 02:21:48 AM    26595721
4                     NaN    26590930

## 3. Summary of Ch.1

We have practiced..
- `pd.read_csv`
- `df.head()`, `df.tail(n=3)`
-  `pd.set_option('display.max_columns', None)`
-  `df.shape`, `df.describe()`,`df.info()`
- `df.columns`, `df.index`
- `df.column1` or `df[['col1','col2']]`